@{
    ViewData["Title"] = "Movie Form";
}
@model Movie

<html>
    <body>

        <form method="post">
            <h2>Add Movie to Collection</h2><br />

            <input type="hidden" asp-for="MovieID" />

            <label asp-for="Title">Title:</label><br>
            <input asp-for="Title" type="text" required><br><br>

            <label asp-for="Year">Year:</label><br>
            <input asp-for="Year" type="number" id="year" min="1888" required><br><br>

            <label asp-for="Director">Director:</label><br>
            <input asp-for="Director" type="text" id="director" required><br><br>

            <label asp-for="Category">Category:</label><br> 
            <select asp-for="CategoryID" id="category" required>
                <option value="" disabled selected hidden></option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryID">@c.CategoryName</option>
                }
            </select><br><br>

            <label asp-for="Rating">Rating:</label><br>
            <input asp-for="Rating" type="text" id="rating" /><br><br>
            

            <label asp-for="Edited">Edited:</label>
            <select asp-for="Edited" class="form-control" required>
                <option value="" disabled selected hidden></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select><br>


            <label asp-for="LentTo">Lent To:</label><br>
            <input asp-for="LentTo" type="text" id="lent_to"><br><br>

            <label asp-for="CopiedToPlex"></label><br />
            <select asp-for="CopiedToPlex" class="form-control" required>
                <option value="" disabled selected hidden></option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select><br>

            <label asp-for="Notes">Notes (max 25 characters):</label><br>
            <input asp-for="Notes" type="text" id="notes" maxlength="25"><br><br>

            <button type="submit">Submit</button>

            <div asp-validation-summary="All"></div>
        </form>

    </body>
</html>
