@{
    ViewData["Title"] = "Get To Know Joel";
}
<div class="container">
    <h1>@ViewData["Title"]</h1><br />
    <p>Here's a link to Quick Wits Comedy (where Joel performs regularly): <a href="https://www.qwcomedy.com/">https://www.qwcomedy.com/</a></p>
    <br />
    <p>Here's one to his podcast site: <a href="https://baconsale.com">https://baconsale.com/</a></p>
    <br />
    <br />
    <a href="https://baconsale.com">
        <img src="~/img/baconsalekate.jpg" alt="You can also get to Baconsale here">
    </a>
</div>